<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome {{ name }}. </h1>
    <br>
    <h1>You are {{ age }} years old. </h1>
    <br>
    <h1>You are {{ nationality }}. </h1>
    <br>

    <h1>Input your text:</h1>
    <br>
    <form method="" action="counter.html">
        {% csrf_token %}
        <label>
            <textarea name="text" rows="25" cols="100"></textarea>
        </label>
        <br>
        <input type="submit">
    </form>
</body>
</html>